.card-main{
  width: 100%;
  height: 100vh;
  background: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-center {
  width: 40%;
  height:60vh;
  background-color: skyblue;
  border-radius: 15px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-btn {
  border: none;
  text-align: center;
  text-decoration: none;
  overflow:hidden;/*for clearfix*/
  font-size: 36px;
  display: flex;
}

.card-action {
  font-size: 30px;
}
.increment-btn {
  background-color: #4CAF50;
  font-size: 15px;
  border-radius: 15px;
  padding:10px 20px;
  text-align: center;
}

.reset-btn {
  background-color: #008CBA;
  font-size: 15px;
  border-radius: 15px;
  padding:10px 20px;
  text-align: center;

}

.decrement-btn {
  background-color: #f44336;
  font-size: 15px;
  border-radius: 15px;
  padding:10px 20px;
  text-align: center;
}

.set-value {
  background-color: #808080;
  font-size: 15px;
  padding:10px;
  text-align: center;
  display: inline-block;
}

.input-value {
 padding:10px;
 border: 2px solid #808080;
 display: inline-block;
 font-size: 15px;
}

/* nav {
  background-color: aliceblue;
  padding:16px 32px;
} */

.nav {
  background-color:black;
  color:burlywood;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap:2rem;
  padding:0 1rem;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display:flex;
  gap:2rem;
}

.nav a {
  color:gray;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 20px;
}

/* nav a {
  margin-right: 16px;
} */

nav a.active {
  text-decoration:none ;
  font-weight:bold;
  font-size: 15px;
}



